<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h1>Things To Do</h1>
        <nav>
            <div class="link-container">
                <a href="/">Home</a>
                <a href="/todos/create">Create new todo</a>
                <a href="/todos/done">Show only done todos</a>
                <a href="/todos/undone">Show only undone todos</a>
            </div>
            <div class="link-container">
                <a href="/todos/newest">Sort by date, newest first</a>
                <a href="/todos/oldest">Sort by date, oldest first</a>
            </div>
        </nav>
    </header>

    {{{body}}}

</body>

</html>